.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table, th, td {
  border: 1px solid black;
  /* padding: 15px; */
  border-radius: 5px;
  text-align: center;
}

th {
  width: 75px;
  /* padding: 0px; */
}

td {
  width: 75px;
  height: 50px;
  /* padding: 0px; */
}

.form-input {
  border-radius: 5px;
  width: auto;
  height: 25px
}

#error {
  color: red;
}

#delete-button {
  border-radius: 5px;
  padding: 15px;
  width: 75px;
}

#form-button {
  width: 75px;
  height: 35px;
}

