.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table, th, td {
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
}

.form-input {
  border-radius: 5px;
  width: auto;
  height: 25px
}

#error {
  color: red;
}
